<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuqinh2s.quanzi.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.liuqinh2s.quanzi.model.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="comment_guid" jdbcType="VARCHAR" property="commentGuid" />
    <result column="comment_userid" jdbcType="CHAR" property="commentUserid" />
    <result column="comment_objectid" jdbcType="BIGINT" property="commentObjectid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.liuqinh2s.quanzi.model.Comment">
    <result column="comment_text" jdbcType="LONGVARCHAR" property="commentText" />
  </resultMap>
  <sql id="Base_Column_List">
    id, comment_guid, comment_userid, comment_objectid, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    comment_text
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.liuqinh2s.quanzi.model.Comment">
    insert into t_comment (id, comment_guid, comment_userid, 
      comment_objectid, create_time, update_time, 
      comment_text)
    values (#{id,jdbcType=BIGINT}, #{commentGuid,jdbcType=BIGINT}, #{commentUserid,jdbcType=CHAR}, 
      #{commentObjectid,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{commentText,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liuqinh2s.quanzi.model.Comment">
    insert into t_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="commentGuid != null">
        comment_guid,
      </if>
      <if test="commentUserid != null">
        comment_userid,
      </if>
      <if test="commentObjectid != null">
        comment_objectid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="commentText != null">
        comment_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="commentGuid != null">
        #{commentGuid,jdbcType=BIGINT},
      </if>
      <if test="commentUserid != null">
        #{commentUserid,jdbcType=CHAR},
      </if>
      <if test="commentObjectid != null">
        #{commentObjectid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentText != null">
        #{commentText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liuqinh2s.quanzi.model.Comment">
    update t_comment
    <set>
      <if test="commentGuid != null">
        comment_guid = #{commentGuid,jdbcType=BIGINT},
      </if>
      <if test="commentUserid != null">
        comment_userid = #{commentUserid,jdbcType=CHAR},
      </if>
      <if test="commentObjectid != null">
        comment_objectid = #{commentObjectid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentText != null">
        comment_text = #{commentText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.liuqinh2s.quanzi.model.Comment">
    update t_comment
    set comment_guid = #{commentGuid,jdbcType=BIGINT},
      comment_userid = #{commentUserid,jdbcType=CHAR},
      comment_objectid = #{commentObjectid,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      comment_text = #{commentText,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liuqinh2s.quanzi.model.Comment">
    update t_comment
    set comment_guid = #{commentGuid,jdbcType=BIGINT},
      comment_userid = #{commentUserid,jdbcType=CHAR},
      comment_objectid = #{commentObjectid,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>